<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60a1bd">  <td>19/06/21 17:44:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectBase.closeApp()[pri:0, instance:org.testleaf.leaftaps.testcase.TC001_LoginLogout@e45f292]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/06/21 17:45:03</td>   <td>11507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectBase.closeApp()[pri:0, instance:org.testleaf.leaftaps.testcase.TC001_LoginLogout@e45f292]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/06/21 17:45:15</td>   <td>23468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectBase.closeApp()[pri:0, instance:org.testleaf.leaftaps.testcase.TC001_LoginLogout@e45f292]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/06/21 17:44:37</td>   <td>-14425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectBase.launchApp()[pri:0, instance:org.testleaf.leaftaps.testcase.TC001_LoginLogout@e45f292]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/06/21 17:44:52</td>   <td>756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectBase.launchApp()[pri:0, instance:org.testleaf.leaftaps.testcase.TC001_LoginLogout@e45f292]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/06/21 17:45:04</td>   <td>12278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectBase.launchApp()[pri:0, instance:org.testleaf.leaftaps.testcase.TC001_LoginLogout@e45f292]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/06/21 17:44:42</td>   <td>-9233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogout.runLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:org.testleaf.leaftaps.testcase.TC001_LoginLogout@e45f292]">runLogin</td> 
  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/06/21 17:44:56</td>   <td>4973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogout.runLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:org.testleaf.leaftaps.testcase.TC001_LoginLogout@e45f292]">runLogin</td> 
  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/06/21 17:45:08</td>   <td>16562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogout.runLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:org.testleaf.leaftaps.testcase.TC001_LoginLogout@e45f292]">runLogin</td> 
  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/06/21 17:44:36</td>   <td>-15475</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginLogout.setData()[pri:0, instance:org.testleaf.leaftaps.testcase.TC001_LoginLogout@e45f292]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
</table>
